IBM_node-red_endpoint_flow.txt
[{"id":"3f7245e460f5601f","type":"tab","label":"IBM Endpoint","disabled":false,"info":""},{"id":"59ff2a1.fa600d4","type":"http in","z":"3f7245e460f5601f","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["54c1e70d.ab3e18"]]},{"id":"54c1e70d.ab3e18","type":"template","z":"3f7245e460f5601f","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":290,"y":60,"wires":[["266c286f.d993d8"]]},{"id":"266c286f.d993d8","type":"http response","z":"3f7245e460f5601f","name":"","x":450,"y":60,"wires":[]},{"id":"b623b0a6711422a4","type":"comment","z":"3f7245e460f5601f","name":"IBM cloud http Endpoint","info":"","x":140,"y":20,"wires":[]}]