Mindsphere_node-red_flow.txt
[{"id":"9daefde1.42f42","type":"tab","allowCycles":false,"label":"IBM Endpoint data server","disabled":false,"info":""},{"id":"c8266d38.3ef73","type":"comment","z":"9daefde1.42f42","name":"MINDSPHERE Node-RED","info":"","sticky":0,"x":120,"y":32.66667175292969,"wires":[]},{"id":"ea9d334f.b3bee","type":"debug","z":"9daefde1.42f42","name":"","active":true,"console":"false","xaxis":"_time","complete":"false","x":650,"y":80,"wires":[]},{"id":"c31d5f6d.a22f7","type":"html","z":"9daefde1.42f42","name":"","tag":"h1","ret":"html","as":"single","x":490,"y":80,"wires":[["ea9d334f.b3bee"]]},{"id":"c4da2fda.efd3e","type":"http request","z":"9daefde1.42f42","name":"IBM cloud http request","method":"GET","ret":"txt","url":"https://node-red-xavierflorensa.eu-gb.mybluemix.net/hello","timeout":"","mindspherePath":"","useMindsphereAuth":false,"isAdmin":false,"secretHeaders":"","x":300,"y":80,"wires":[["c31d5f6d.a22f7"]]},{"id":"51c95eac.ca923","type":"inject","z":"9daefde1.42f42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"0","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","enableRuleEngine":false,"showNextExecution":false,"powerMode":false,"x":100,"y":80,"wires":[["c4da2fda.efd3e"]]}]